body {
margin: 0;
padding: 0;
font-family: 'Product Sans', 'Roboto', 'Noto', sans-serif;
font-size: 16px;
line-height: 1.5;
color: #333;
background-color: #eee;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
* {
transition: all .2s;
}
a {
text-decoration: none;
outline: none;
color: inherit;
}
h1, h2, h3, h4 {
font-weight: normal;
margin: 0;
}
.header {
background-color: #fff; 
position: fixed;
display: flex;
top: 0px;
left: 0px;
width: 100%;
height: 64px;
padding: 0 16px;
box-shadow: 0 2px 5px rgba(0,0,0,.2);
color: #00aaff;
vertical-align: middle;
line-height: 64px;
}
.home {
height: 24px;
width: auto;
padding: 20px 0;
margin: 0 36px 0 5px;
}
.logo {
width: auto;
height: 32px;
padding: 16px 0;
margin: 0 5px;
}
.title {
font-size: 24px;
}
.title::after {
}
.page .container {
margin-top: 64px;
}
.wrapper {
min-height: calc(100vh - 152px);
display: flex;
align-items: center;
padding-top: 64px;
}
.container {
background-color: #fff;
display: flex;
flex-direction: column;
padding: 32px;
width: 60%;
height: auto;
margin: 0 auto;
border-radius: 5px;
box-shadow: 0 2px 3px rgba(0,0,0,.3);
}
.heading {
font-size: 24px;
text-transform: capitalize;
margin: 16px 0;
text-align: center;
}
.avatar {
width: 128px;
height: auto;
margin: 16px 0;
}
.myform {
display: flex;
flex-direction: column;
width: 100%;
}
.inputvalue {
display: flex;
font-size: 14px;
widows: 100%;
margin: 8px 0;
padding: 16px;
border: none;
background-color: #eee;
border-radius: 5px;
border: 2px solid #fff;
}
.inputvalue:focus {
border: 2px solid #00aaff;
}
.button {
font-family: 'Product Sans', 'Roboto', 'Noto', sans-serif;
background-color: #00aaff;
text-transform: capitalize;
font-weight: 500;
box-shadow: 0 2px 3px rgba(0,0,0,.3);
border-radius: 5px;
color: white;
padding: 14px 18px;
text-align: center;
font-size: 18px;
margin: 8px 0;
border: none;
cursor: pointer;
}
.button:hover {
background-color: #00bbff;
box-shadow: 0 3px 4px rgba(0,0,0,.4);
}
.phpr {
color: #00aaff;
margin: 8px 0;
padding: 0 16px;
border-left: 3px solid;
}
.changepw{
float: right; 
color: black;
}
.changepw:hover{
color: red;
}
.logout {
position: fixed;
right: 32px;
background-color: white;
top: 8px;
text-align: center;
padding: 12px 16px;
line-height: 1.5;
border-radius: 5px;
text-decoration: none;
color: red;
}
.logout:hover{
background-color: red;
color: #fff;
}
.details {
margin-top: 64px;
box-shadow: 0 2px 3px rgba(0,0,0,.2);
background-color: #00aaff;
width: calc(100% - 32px);
padding: 16px;
color: white;
height: 30vh;
margin-bottom: -25vh;
}
.result
{
padding: 8px 0;
}
.tlogin{
width: 50%;
display: inline-block;
float: left;
text-align: center;
}
.hlogin{
width: 50%;
display:inline-block;
float: right;
text-align: center;
}
.flex {
display: flex;
align-items: center;
width: 100%;
}
footer {
display: block;
padding: 32px 0;
font-size: 16px;
color: #555;
text-align: center;
width: 100%;
}
a.link {
}
a.link:hover {
padding: 8px;
background-color: #000;
color: #fff;
box-shadow: 3px 5px 0px #00acee;
}
@media (max-width: 620px) {
.container {
padding: 16px;
width: calc(100% - 32px);
border-radius: 0;
}
.wrapper {
padding: 0;
padding-top: 64px;
}
.side, .middle {
width: 100%;
}
}
.rating {
border: none;
padding: 16px 0;
line-height:3;
}
.rating:nth-child(n+1) {
border-top: 1px solid #eee;
}
.rating input {
visibility: hidden;
}
.rating :not(:checked) > input {
position:absolute;
top:-9999px;
clip:rect(0, 0, 0, 0);
}
.rating:not(:checked) > label {
width:1em;
cursor:pointer;
float: right;
font-size:200%;
line-height:1.5;
color:#aaa;
}
.rating:not(:checked) > label:before {
content: &#9733;
}
.rating > input:checked ~ label {
color: #ff7700;
}
.rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
color: gold;
}
.rating> input:checked + label:hover, .rating> input:checked + label:hover ~ label, .rating> input:checked ~ label:hover, .rating> input:checked ~ label:hover ~ label, .rating> label:hover ~ input:checked ~ label {
color: #ea0;
}
.rating > label:hover {
transform: scale(1.2);
}
.rating > label:active {
transform: scale(.9);
}
.side {
float: left;
width: 15%;
padding: 16px 0;
}
.middle {
float: left;
width: 70%;
padding: 16px 0;
}
.right {
text-align: right;
}
.row {
width: 100%;
padding: 16px 0;
}
.row:after {
content: "";
display: table;
clear: both;
}
.row:nth-child(2n+2) {
border-top: 1px solid #eee;
margin-top: 32px;
}
.bar-container {
width: 100%;
background-color: #eee;
text-align: center;
color: white;
}
.bar-5, .bar-4, .bar-3, .bar-2, .bar-1 {
height: 16px;
width: 0px;
}
.bar-5 {background-color: limegreen;}
.bar-4 {background-color: deepskyblue;}
.bar-3 {background-color: darkturquoise;}
.bar-2 {background-color: darkorange;}
.bar-1 {background-color: red;}
