body {
margin: 0;
padding: 0;
font-family: 'Product Sans', 'Roboto', 'Noto', sans-serif;
font-size: 16px;
line-height: 1.5;
color: #555;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
* {
transition: all .2s;
}
a {
text-decoration: none;
outline: none;
color: inherit;
}
h1, h2, h3, h4 {
font-weight: normal;
margin: 0;
}
.header {
background-color: #415be8; 
position: fixed;
display: flex;
top: 0px;
left: 0px;
width: 100%;
height: 64px;
padding: 0 16px;
box-shadow: 0 2px 5px rgba(0,0,0,.2);
color: #fff;
vertical-align: middle;
line-height: 64px;
}
.home {
width: auto;
height: 24px;
padding: 22px 0;
margin-right: 16px;
}
.logo {
width: auto;
height: 32px;
padding: 18px 0;
margin-right: 8px;
}
.title {
font-size: 24px;
}
.title::after {
}
.wrapper {
min-height: calc(100vh - 152px);
display: flex;
align-items: center;
padding-top: 64px;
}
.container {
background-color: #fff;
display: flex;
flex-direction: column;
padding: 32px;
width: 50%;
height: auto;
margin: 0 auto;
border-radius: 5px;
}
.heading {
font-size: 32px;
text-transform: capitalize;
margin: 32px 0 16px;
text-align: center;
}
.subheading {
font-size: 20px;
text-transform: capitalize;
margin: 16px 0;
}
.avatar {
width: 132px;
height: auto;
margin: 16px 0;
}
.myform {
display: flex;
flex-direction: column;
width: 100%;
}
.inputvalue {
display: flex;
font-size: 16px;
widows: 100%;
margin: 8px 0;
padding: 16px;
border: none;
background-color: #eee;
border-radius: 5px;
}
.psw {
width: 100%;
}
.shp {
position: relative;
right: 12px;
top: -44px;
float: right;
z-index: 2;
}
textarea {
min-width: 100%;
max-width: 100%;
min-height: 80px;
font-family: 'Product Sans', 'Roboto', 'Noto', sans-serif;
}
.button::-moz-focus-inner {
border: 0;
}
.button {
font-family: 'Product Sans', 'Roboto', 'Noto', sans-serif;
background-color: #1689fc;
text-transform: capitalize;
font-weight: 500;
box-shadow: 0 2px 3px rgba(0,0,0,.3);
border-radius: 5px;
color: white;
padding: 14px 18px;
text-align: center;
font-size: 18px;
margin: 8px 0;
border: 0;
cursor: pointer;
outline: 0;
}
.button:hover {
background-color: #415be8;
box-shadow: 0 3px 4px rgba(0,0,0,.4);
}
.phpr {
color: #415be8;
padding: 16px;
}
.changepw {
float: right;
}
.logout {
position: fixed;
right: 16px;
box-shadow: 0 3px 4px rgba(0,0,0,.4);
background-color: white;
top: 8px;
text-align: center;
padding: 12px 16px;
line-height: 1.5;
border-radius: 5px;
text-decoration: none;
color: red;
}
.logout:hover{
background-color: red;
color: #fff;
}
.details {
margin-top: 64px;
box-shadow: 0 2px 3px rgba(0,0,0,.1);
background-color: #17ace8;
width: calc(100% - 32px);
padding: 16px;
color: white;
}
.result
{
padding: 8px 0;
}
.tlogin{
width: 50%;
display: inline-block;
float: left;
text-align: center;
}
.hlogin{
width: 50%;
display:inline-block;
float: right;
text-align: center;
}
.flex {
display: flex;
align-items: center;
}
footer {
display: block;
padding: 32px 0;
font-size: 16px;
color: #555;
text-align: center;
width: 100%;
}
a.link {
padding: 8px;
border-radius: 5px;
background-color: rgba(0,0,0,.2);
color: #fff;
box-shadow: 0 2px 3px rgba(0,0,0,.1);
}
a.link:hover {
background-color: rgba(0,0,0,.5);
box-shadow: 0 3px 4px rgba(0,0,0,.4);
}
@media (max-width: 620px) {
.container {
padding: 16px;
width: calc(100% - 32px);
border-radius: 0;
}
.wrapper {
padding: 0;
padding-top: 64px;
}
.side, .middle {
width: 100%;
}
}
.rating {
border: none;
padding: 16px 0;
}
.rating:nth-child(n+1) {
border-top: 1px solid #eee;
}
.rating div input {
visibility: hidden;
display: none;
}
.rating div :not(:checked) > input {
position:absolute;
top:-9999px;
clip:rect(0, 0, 0, 0);
}
.rating div:not(:checked) > label {
width:1em;
cursor:pointer;
float: right;
font-size:200%;
line-height:1.5;
color:#aaa;
}
.rating div:not(:checked) > label:before {
content: &#9733;
}
.rating div > input:checked ~ label {
color: #ff7700;
}
.rating div:not(:checked) > label:hover, .rating div:not(:checked) > label:hover ~ label {
color: gold;
}
.rating div> input:checked + label:hover, .rating div> input:checked + label:hover ~ label, .rating div> input:checked ~ label:hover, .rating div> input:checked ~ label:hover ~ label, .rating div> label:hover ~ input:checked ~ label {
color: #ea0;
}
.rating div > label:hover {
transform: scale(1.2);
}
.rating div > label:active {
transform: scale(.9);
}
.side {
float: left;
width: 15%;
padding: 16px 0;
}
.middle {
float: left;
width: 70%;
padding: 16px 0;
}
.right {
text-align: right;
}
.row {
width: 100%;
padding: 32px 0 0;
}
.row:after {
content: "";
display: table;
clear: both;
}
.row:nth-child(2n+2) {
border-top: 1px solid #eee;
margin-top: 16px;
}
.bar-container {
width: 100%;
background-color: #eee;
text-align: center;
color: white;
}
.bar-5, .bar-4, .bar-3, .bar-2, .bar-1 {
height: 16px;
width: 0px;
}
.bar-5 {background-color: limegreen;}
.bar-4 {background-color: deepskyblue;}
.bar-3 {background-color: darkturquoise;}
.bar-2 {background-color: darkorange;}
.bar-1 {background-color: red;}
#snackbar {
visibility: hidden;
background-color: #415be8;
color: #fff;
text-align: center;
border-radius: 5px;
padding: 16px;
position: fixed;
z-index: 1;
left: 50%;
transform: translate(-50%);
bottom: 32px;
box-shadow: 0 2px 3px rgba(0,0,0,.3);
animation: fadeout .5s;
}
#snackbar.show {
visibility: visible;
animation: fadein 0.5s;
}
@keyframes fadein {
from {bottom: 0; opacity: 0;}
to {bottom: 32px; opacity: 1;}
}
@keyframes fadeout {
from {bottom: 32px; opacity: 1;}
to {bottom: 0; opacity: 0;}
}
